<div class="section pt-4 px-3 px-lg-4" id="about" x-data="data" xmlns:x-bind="http://www.w3.org/1999/xhtml">
    <div class="container-narrow">
        <div class="row">
            <div class="col-md-6">
                <h2 class="h4 my-2">Hello! <span x-text="longName"></span></h2>
                <p x-html="description" style="text-align: justify"></p>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <div class="pb-1">Age:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder" x-text="age"></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pb-1">Email:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder" x-text="email"></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pb-1">Phone:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder" x-text="phone"></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pb-1">Address:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder" x-text="address"></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pb-1">Status:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder" x-text="status"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img
                    class="avatar img-fluid mt-2" x-bind:src="photo" width="400" height="400"
                    x-bind:alt="longName"/></div>
        </div>
    </div>
</div>