<div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact" x-data="data" xmlns:x-bind="http://www.w3.org/1999/xhtml">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Contact Me</h2>
        </div>
        <div class="row">
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="bg-light my-2 p-3 pt-2">
                    <form @submit.prevent="contactMe()" action="#">
                        <div class="form-group my-2">
                            <label for="name" class="form-label fw-bolder">Name</label>
                            <input class="form-control" type="text" id="name" required x-model="contact.name">
                        </div>
                        <div class="form-group my-2">
                            <label for="message" class="form-label fw-bolder">Message</label>
                            <textarea class="form-control" style="resize: none;" id="message" rows="4" required x-model="contact.body"></textarea>
                        </div>
                        <button class="btn btn-primary mt-2" type="submit">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                <div class="mt-3 px-1">
                    <div class="h5">Let’s talk how I can help you!</div>
                    <p>If you like my work and want to avail my services then drop me a message using the contact form. </p>
                    <p>Or get in touch using my email or my contact number.</p>
                    <p>See you!</p>
                </div>
                <div class="mt-53 px-1">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="pb-1">Email:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder" x-text="email"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Phone:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder" x-text="phone"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Github:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder" x-text="github"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Linkedin:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder" x-text="linkedin"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Instagram:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder" x-text="ig"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>