<footer class="pt-4 pb-4 text-center bg-light" x-data="data" xmlns:x-bind="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="my-3">
            <div class="h4" x-text="longName"></div>
            <p x-text="job"></p>
            <div class="social-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" x-bind:href="fb" title="Facebook">
                                <i class="fab fa-facebook"></i>
                                <span class="menu-title sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" x-bind:href="ig" title="Instagram">
                                <i class="fab fa-instagram"></i>
                                <span class="menu-title sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" x-bind:href="linkedin" title="LinkedIn">
                                <i class="fab fa-linkedin"></i>
                                <span class="menu-title sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" x-bind:href="github" title="Github">
                                <i class="fab fa-github"></i>
                                <span class="menu-title sr-only">Github</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-small text-secondary">
            <div class="mb-1">&copy; Super Folio. All rights reserved.</div>
            <div>
                <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->
                Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        </div>
    </div>
</footer>