<div class="section px-3 px-lg-4 pt-5" id="services" x-data="data" xmlns:x-bind="http://www.w3.org/1999/xhtml">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">My Services</h2>
        </div>
        <div class="text-center">
            <p class="mx-auto mb-3" style="max-width:600px" x-text="servicesDescription"></p>
        </div>
        <div class="row py-3">
            <template x-for="service in services">
                <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">
                    <img class="mb-2" x-bind:src="service.img" width="96" height="96" x-bind:alt="service.name"/>
                    <div class="h5" x-text="service.name"></div>
                </div>
            </template>
        </div>
    </div>
</div>